<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Surebet App</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Bienvenido a Surebet App</h1>
    <p>Página en construcción.</p>
    <div class="container">
      <table
        class="table table-dark table-responsive table-striped table-sm table-bordered table-hover"
      >
        <thead>
          <tr>
            <th>Deportes</th>
            <th>Surebets</th>
            <th>Rentabilidad maxima</th>
          </tr>
        </thead>
        <tbody>
          <tr class="position-relative">
            <td>
              <a href="/tenis" class="text-light"> Tenis </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/futbol" class="text-light"> Fútbol </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/futbol" class="text-light"> Basket </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
